body {
  margin: 0;
  padding: 8rem;
  padding-top: 4rem;
  height: 100vh;
  background-color: rgb(255, 249, 214);
}
.coolTitle {
  /* text-align: center; */
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px rgb(177, 177, 177);
    position: static;
}
.done {
  text-decoration: line-through;
  color:rgba(116, 158, 93, 0.774)
}
ul {
  padding-left: 2rem;
  margin-top: 2rem;
}
li {
  display: inline-block;
  margin-bottom: 12px;
  display: list-item;
  display: inline-block;
  cursor: pointer;
}
#delete {
  margin-left: 12px;
  height: 22px;
  width: 60px;
  text-align: center;
  background-color:rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  border: 1px solid tomato;
  cursor: pointer;
  color: tomato;
}
#delete:hover {
  opacity: 0.3;
}
h3 {
  padding-left: 2rem;
}
#userinput {
  width: 250px;
}