/* MOBILE */
@media screen and (max-width: 576px) {
  body {
    background: #E9E9E9;
  }
    .container {
      min-width: 260px;
      margin: 0 2rem;
      padding: 2rem 2rem;
      border-radius: 2rem;
    }
    .checkbox-container {
      padding-left: 2rem;
      max-width: 160px;
    }
    #userinput {
      min-width: 140px;
    }
    #delete {
      margin-left: 0;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  